
<form class="container" name="loginForm">
  <!--  Login Form -->
  <h4>Login</h4>

  <fieldset class="form-group">
    <input type="email" class="form-control" placeholder="email" title="Email" />
  </fieldset>
 
  <fieldset class="form-group">
    <input type="password" class="form-control" placeholder="password" title="Password" />
  </fieldset>
  
  <fieldset class="form-group">
    <input type="submit" class="btn btn-primary pull-right" value="Submit" />
  </fieldset>

  <div ng-view ng-controller="loginCtrl">
    {{name}}
  </div>

</form>

<form class="container">
  <%= form_for @user do |f| %>
    <%= f.email_field :email, placeholder: "email", class: "form-control" %>
    <br>
  <%= f.submit %>
  <% end %>
</form>